.row
  .col-md-12
    .alphabet-menu
      %a.letter_item{href: "#", letter: ""} All
      %a.letter_item{href: "#", letter: "A"} A
      %a.letter_item{href: "#", letter: "B"} B
      %a.letter_item{href: "#", letter: "C"} C
      %a.letter_item{href: "#", letter: "D"} D
      %a.letter_item{href: "#", letter: "E"} E
      %a.letter_item{href: "#", letter: "F"} F
      %a.letter_item{href: "#", letter: "G"} G
      %a.letter_item{href: "#", letter: "H"} H
      %a.letter_item{href: "#", letter: "I"} I
      %a.letter_item{href: "#", letter: "J"} J
      %a.letter_item{href: "#", letter: "K"} K
      %a.letter_item{href: "#", letter: "L"} L
      %a.letter_item{href: "#", letter: "M"} M
      %a.letter_item{href: "#", letter: "N"} N
      %a.letter_item{href: "#", letter: "O"} O
      %a.letter_item{href: "#", letter: "P"} P
      %a.letter_item{href: "#", letter: "Q"} Q
      %a.letter_item{href: "#", letter: "R"} R
      %a.letter_item{href: "#", letter: "S"} S
      %a.letter_item{href: "#", letter: "T"} T
      %a.letter_item{href: "#", letter: "U"} U
      %a.letter_item{href: "#", letter: "V"} V
      %a.letter_item{href: "#", letter: "W"} W
      %a.letter_item{href: "#", letter: "X"} X
      %a.letter_item{href: "#", letter: "Y"} Y
      %a.letter_item{href: "#", letter: "Z"} Z
.row
  .col-md-12
    #grid
      =render partial: 'grid'
      

      